.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .navIcon {
        width: 20px;
        height: 20px;
    }
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomText {
    font-size: 12px;
    margin-top: 3px;
    color: black;
}

.rightText {
    font-size: 12px;
    margin-top: 3px;
    color: black;
    margin-left: 10px;
}

@media only screen and (max-width: 850px) {
    .bottomText {
        display: none;
    }
}