.root{
  width: var(--left-sidebar-width);
}

@media only screen and (max-width: 768px){
  .root{
    width: 100%;
  }
}

.card {
  background: var(--white-bg-color);
  border: 1px solid var(--secondary-line-color);
  font-size: 14px;
  border-radius: 10px;
}

.cardTopSection{
  padding: 15px;
}

.profile {
  width: 72px;
  height: 72px;
  margin-bottom: 18px;
}

.center {
  padding: 10px 12px;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.blueText {
  color:var(--blue-color);
  font-size: 12px;
  font-weight: 600;
}

.section {
  padding: 10px 12px;
}

.footerText {
  padding: 5px 0;
}

.achieve {
  text-decoration: underline;
  margin: 0;
}

.horizontalLine{
  border-top: 1px solid var(--main-line-color);
}

.bottomCard{
  margin-top: 10px;
}