.root{
    max-height: 40px;
    margin-left: 10px;
}

.root form{
    max-height: 40px;
}

.react-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 55%; */
    margin-left: 10px;
}