.root{
  background: var(--white-bg-color);
  padding: 15px 12px;
  border-radius: 10px;
  border: 1px solid var(--secondary-line-color);
  max-height: 164px;
}

.topSection{
    display: flex;
}

.profile {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.actions{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}